Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-08, with the labels that each got.

#397 feat: adding info for local development
  CONTRIBUTING.md
  bin/create-local-dependencies.sh
Labels: kalix-proxy

#395 fix: handle disconnected streams on codegen download
  npm-js/kalix-scripts/bin/download-codegen.js
  npm-js/kalix-scripts/package-lock.json
  npm-js/kalix-scripts/package.json
Labels: kalix-proxy

#401 chore: stick to protobufjs 6.11.3 (for now)
  npm-js/kalix-scripts/package-lock.json
  npm-js/kalix-scripts/package.json
  package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-views-example/package.json
  sdk/package.json
  tck/package.json
  testkit/package-lock.json
  testkit/package.json
Labels: kalix-proxy, typescript-sdk

#400 chore: upgrade Kalix Proxy to 1.0.15
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
  sdk/test/kalix.test.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#408 bump: update samples to 1.0.2
  samples/js/js-customer-registry-quickstart/package.json
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-shopping-cart-quickstart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry-quickstart/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-shopping-cart-quickstart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#396 chore: avoiding calling through the mesh to same services components
  sdk/src/kalix.ts
Labels: kalix-proxy, typescript-sdk

#411 fix: changing 'file' to 'codegen'
  docs/src/modules/javascript/pages/value-entity.adoc
Labels: Documentation, kalix-proxy

#412 chore: scripting how to test local SDK in Kubernetes.
  CONTRIBUTING.md
  bin/create-local-dependencies.sh
Labels: kalix-proxy

#409 chore: upgrade kalix proxy version to 1.0.16
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#410 feat: Avoiding the mesh
  sdk/src/kalix.ts
Labels: kalix-proxy, typescript-sdk

#413 Fix codegen windows paths
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/SourceGenerator.scala
Labels: kalix-proxy, javascript-sdk

#415 chore: updating samples to 1.0.3
  samples/js/js-customer-registry-quickstart/package.json
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-shopping-cart-quickstart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry-quickstart/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-shopping-cart-quickstart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#399 feat: increase max receive message size
  sdk/src/index.ts
  sdk/src/kalix.ts
Labels: kalix-proxy, typescript-sdk
