Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-05, with the labels that each got.

#310 chore: convert event sourced entity to TypeScript
  sdk/src/event-sourced-entity-support.js
  sdk/src/event-sourced-entity-support.ts
  sdk/src/event-sourced-entity.jsdoc
  sdk/src/event-sourced-entity.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#311 chore: convert view to TypeScript
  sdk/src/view-support.ts
  sdk/src/view.js
  sdk/src/view.jsdoc
  sdk/src/view.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#312 feat: Removing no reply
  codegen/build.sbt
  codegen/js-gen-cli/src/it/resources/application.conf
  docs/src/modules/javascript/examples/action/src/action.ts
  npm-js/create-kalix-entity/template/base/docker-compose.yml
  samples/js/js-customer-registry/customer-event-sourced-entity.js
  samples/js/js-customer-registry/customer-value-entity.js
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-doc-snippets/src/myservice.js
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
  sdk/src/action-support.ts
  sdk/src/reply.jsdoc
  sdk/src/reply.ts
  sdk/test/reply.test.ts
  tck/src/action.ts
Labels: Documentation, kalix-proxy, javascript-sdk, typescript-sdk

#317 doc: publishing and subscribing with Actions
  docs/src/modules/developing/pages/development-process-js.adoc
  docs/src/modules/javascript/nav.adoc
  docs/src/modules/javascript/pages/actions-publishing-subscribing.adoc
  docs/src/modules/javascript/pages/entity-eventing.adoc
  docs/src/modules/javascript/pages/index.adoc
  docs/src/modules/javascript/pages/serialization.adoc
  docs/src/modules/javascript/pages/topic-eventing.adoc
  docs/src/modules/javascript/partials/actions.adoc
  docs/src/modules/javascript/partials/entity-eventing-ignoring.adoc
  docs/src/modules/javascript/partials/entity-eventing.adoc
  docs/src/modules/javascript/partials/forwarding.adoc
  docs/src/modules/javascript/partials/get-entity-id.adoc
  docs/src/modules/javascript/partials/json.adoc
  docs/src/modules/javascript/partials/pubsub-note.adoc
Labels: Documentation, kalix-proxy

#318 feat: adding file to show kalix SDK version
  docs/src/modules/javascript/attachments/latest-version.txt
Labels: Documentation, kalix-proxy

#319 chore: rename and move 'Views' menu item
  docs/src/modules/javascript/nav.adoc
Labels: Documentation, kalix-proxy

#314 chore: convert replicated entity to TypeScript
  sdk/index.js
  sdk/src/protobuf-any.ts
  sdk/src/replicated-data/counter-map.js
  sdk/src/replicated-data/counter-map.jsdoc
  sdk/src/replicated-data/counter-map.ts
  sdk/src/replicated-data/counter.js
  sdk/src/replicated-data/counter.jsdoc
  sdk/src/replicated-data/counter.ts
  sdk/src/replicated-data/index.js
  sdk/src/replicated-data/index.jsdoc
  sdk/src/replicated-data/index.ts
  sdk/src/replicated-data/iterators.ts
  sdk/src/replicated-data/map.js
  sdk/src/replicated-data/map.jsdoc
  sdk/src/replicated-data/map.ts
  sdk/src/replicated-data/multi-map.js
  sdk/src/replicated-data/multi-map.jsdoc
  sdk/src/replicated-data/multi-map.ts
  sdk/src/replicated-data/register-map.js
  sdk/src/replicated-data/register-map.jsdoc
  sdk/src/replicated-data/register-map.ts
  sdk/src/replicated-data/register.js
  sdk/src/replicated-data/register.jsdoc
  sdk/src/replicated-data/register.ts
  sdk/src/replicated-data/set.js
  sdk/src/replicated-data/set.jsdoc
  sdk/src/replicated-data/set.ts
  sdk/src/replicated-data/vote.js
  sdk/src/replicated-data/vote.jsdoc
  sdk/src/replicated-data/vote.ts
  sdk/src/replicated-entity-support.ts
  sdk/src/replicated-entity.js
  sdk/src/replicated-entity.jsdoc
  sdk/src/replicated-entity.ts
  sdk/test/replicated-data/counter-map-test.ts
  sdk/test/replicated-data/counter-test.ts
  sdk/test/replicated-data/map-test.ts
  sdk/test/replicated-data/multi-map-test.ts
  sdk/test/replicated-data/register-map-test.ts
  sdk/test/replicated-data/register-test.ts
  sdk/test/replicated-data/set-test.ts
  sdk/test/replicated-data/vote-test.ts
  sdk/test/replicated-entity-handler-test.ts
  sdk/test/tsconfig.json
  tck/src/replicated-entity.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#327 feat: make replicated data types generic
  samples/ts/ts-replicated-entity-shopping-cart/src/shoppingcart.ts
  sdk/bin/compile-protobuf.sh
  sdk/src/event-sourced-entity.ts
  sdk/src/replicated-data/counter-map.ts
  sdk/src/replicated-data/map.ts
  sdk/src/replicated-data/multi-map.ts
  sdk/src/replicated-data/register-map.ts
  sdk/src/replicated-data/register.ts
  sdk/src/replicated-data/set.ts
  sdk/src/serializable.ts
  sdk/test/replicated-data/counter-map-test.ts
  sdk/test/replicated-data/map-test.ts
  sdk/test/replicated-data/multi-map-test.ts
  sdk/test/replicated-data/register-map-test.ts
  sdk/test/replicated-data/register-test.ts
  sdk/test/replicated-data/set-test.ts
  tck/src/replicated-entity.ts
Labels: kalix-proxy, typescript-sdk

#325 feat: make Reply generic over message type
  build/license.json
  samples/ts/ts-customer-registry/src/customer-event-sourced-entity.ts
  samples/ts/ts-customer-registry/src/customer-value-entity.ts
  samples/ts/ts-eventsourced-shopping-cart/src/shoppingcart.ts
  samples/ts/ts-eventsourced-shopping-cart/test/testkit.ts
  samples/ts/ts-valueentity-counter/src/counter.ts
  samples/ts/ts-valueentity-counter/test/testkit.ts
  sdk/index.ts
  sdk/src/reply.ts
  sdk/test/reply.test.ts
  tck/src/action.ts
  tck/src/event-sourced-entity.ts
  tck/src/value-entity.ts
Labels: kalix-proxy, typescript-sdk

#328 feat: Adding latest version
  docs/Makefile
  docs/src/modules/javascript/attachments/latest-version.txt
Labels: Documentation, kalix-proxy

#329 fix: set component settings for actions
  sdk/src/kalix.ts
Labels: kalix-proxy, typescript-sdk

#331 bump: update samples to 1.0.0-M6 release
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#337 rename: fix 'SDK SDK' typo
  README.md
  docs/Makefile
  npm-js/create-kalix-entity/template/base/README.md
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-views-example/package.json
  sdk/package.json
Labels: Documentation, kalix-proxy, javascript-sdk

#335 chore: tweak typedoc settings
  sdk/src/event-sourced-entity.ts
  sdk/src/value-entity.ts
  sdk/typedoc.json
Labels: kalix-proxy, typescript-sdk

#345 docs: update the testkit version in bundle downloads
  docs/bin/bundle.sh
Labels: Documentation, kalix-proxy

#348 chore: rework internal protocol typing
  .prettierignore
  sdk/.gitignore
  sdk/.npmignore
  sdk/bin/compile-protobuf.sh
  sdk/bin/prepare.sh
  sdk/bin/test-compile-proto.sh
  sdk/package-lock.json
  sdk/package.json
  sdk/src/action-support.ts
  sdk/src/command-helper.ts
  sdk/src/command.ts
  sdk/src/effect-serializer.ts
  sdk/src/event-sourced-entity-support.ts
  sdk/src/index.ts
  sdk/src/kalix.ts
  sdk/src/metadata.ts
  sdk/src/protobuf-any.ts
  sdk/src/replicated-data/counter-map.ts
  sdk/src/replicated-data/counter.ts
  sdk/src/replicated-data/index.ts
  sdk/src/replicated-data/map.ts
  sdk/src/replicated-data/multi-map.ts
  sdk/src/replicated-data/register-map.ts
  sdk/src/replicated-data/register.ts
  sdk/src/replicated-data/set.ts
  sdk/src/replicated-data/vote.ts
  sdk/src/replicated-entity-support.ts
  sdk/src/settings.ts
  sdk/src/tsconfig.json
  sdk/src/value-entity-support.ts
  sdk/src/view-support.ts
  sdk/test/action-handler.test.ts
  sdk/test/effect-serializer.test.ts
  sdk/test/kalix.test.ts
  sdk/test/protobuf-any.test.ts
  sdk/test/replicated-data/counter-map.test.ts
  sdk/test/replicated-data/counter.test.ts
  sdk/test/replicated-data/map.test.ts
  sdk/test/replicated-data/multi-map.test.ts
  sdk/test/replicated-data/register-map.test.ts
  sdk/test/replicated-data/register.test.ts
  sdk/test/replicated-data/set.test.ts
  sdk/test/replicated-data/vote.test.ts
  sdk/test/replicated-entity-handler.test.ts
  sdk/test/tsconfig.json
  sdk/test/user-function-test.desc
  sdk/tsconfig.build.json
  sdk/tsconfig.json
  sdk/typedoc.json
  sdk/types/protocol/actions.ts
  sdk/types/protocol/any.ts
  sdk/types/protocol/commands.ts
  sdk/types/protocol/discovery.ts
  sdk/types/protocol/event-sourced-entities.ts
  sdk/types/protocol/replicated-entities.ts
  sdk/types/protocol/value-entities.ts
  sdk/types/protocol/views.ts
  sdk/types/tsconfig.json
  testkit/package.json
Labels: kalix-proxy, typescript-sdk
