Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-04, with the labels that each got.

#279 Proxy 1.0.0-M2 and new type_url for primitives
  codegen/build.sbt
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
  sdk/src/protobuf-any.js
  sdk/test/kalix.test.ts
  sdk/test/protobuf-any-test.js
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#280 Update js-valueentity-shopping-cart version to 0.0.4
  samples/js/js-valueentity-shopping-cart/package.json
Labels: javascript-sdk, as-framework

#282 Bump sample deps to 1.0.0-M4
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: javascript-sdk, typescript-sdk, as-framework

#283 chore: rename the label (#268)
  .github/labeler.yml
Labels: kalix-proxy

#287 rename: publish kalix docs to docs/current-kalix
  docs/Makefile
Labels: Documentation, kalix-proxy

#286 fix: Status code was not accessible from typescript #284
  sdk/index.js
  sdk/src/akkaserverless.jsdoc
  sdk/src/akkaserverless.ts
  sdk/src/reply.jsdoc
  sdk/src/reply.ts
  sdk/test/reply.test.ts
Labels: javascript-sdk, typescript-sdk, as-framework

#288 Added additional types for Typescript
  sdk/src/cloudevent.jsdoc
  sdk/src/jwt-claims.jsdoc
  sdk/src/metadata.jsdoc
Labels: as-framework

#291 chore: update samples to 0.33.8
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: javascript-sdk, typescript-sdk, as-framework

#292 docs: new view features
  docs/src/modules/javascript/pages/views.adoc
Labels: Documentation, kalix-proxy

#289 Forward port of missing TS signatures
  sdk/index.js
  sdk/src/cloudevent.jsdoc
  sdk/src/jwt-claims.jsdoc
  sdk/src/jwt-claims.ts
  sdk/src/kalix.jsdoc
  sdk/src/kalix.ts
  sdk/src/metadata.jsdoc
  sdk/src/metadata.ts
  sdk/src/reply.jsdoc
  sdk/src/reply.ts
  sdk/test/metadata.test.ts
  sdk/test/reply.test.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#294 chore: convert protobuf support to TypeScript
  sdk/bin/prepare.sh
  sdk/package-lock.json
  sdk/package.json
  sdk/src/protobuf-any.jsdoc
  sdk/src/protobuf-any.ts
  sdk/src/protobuf-helper.ts
  sdk/test/protobuf-any-test.ts
Labels: kalix-proxy, typescript-sdk

#295 chore: convert effect serializer to TypeScript
  sdk/src/effect-serializer.ts
  sdk/src/effect.ts
  sdk/src/kalix.ts
  sdk/src/metadata.ts
  sdk/test/effect-serializer-test.ts
Labels: kalix-proxy, typescript-sdk

#296 chore: convert command helper to TypeScript
  sdk/src/command-helper.ts
  sdk/src/command.jsdoc
  sdk/src/command.ts
  sdk/src/effect-serializer.ts
  sdk/src/effect.ts
  sdk/src/metadata.ts
  sdk/test/effect-serializer.test.ts
  sdk/test/metadata.test.ts
Labels: kalix-proxy, typescript-sdk

#297 chore: convert action to TypeScript
  sdk/index.js
  sdk/package-lock.json
  sdk/package.json
  sdk/src/action-support.ts
  sdk/src/action.js
  sdk/src/action.jsdoc
  sdk/src/action.ts
  sdk/src/command-helper.ts
  sdk/src/command.ts
  sdk/src/protobuf-any.ts
  sdk/test/action-handler.test.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#298 Rename kalix-main to main
  .circleci/config.yml
Labels: rename

#303 fix: rename docs link in README
  README.md
Labels: kalix-proxy

#304 released js-eventsourced-shopping-cart
  samples/js/js-eventsourced-shopping-cart/package.json
Labels: kalix-proxy, javascript-sdk

#306 chore: samples update
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#307 fix: docs typo s/an/a
  docs/src/modules/javascript/pages/kickstart.adoc
Labels: Documentation, kalix-proxy

#299 fix: more clear error that a view will be stuck when update method missing
  sdk/src/view-support.js
Labels: kalix-proxy, javascript-sdk

#308 rename: some remaining akkaserverless to kalix renaming
  CONTRIBUTING.md
  codegen/build.sbt
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/action-shoppingcart-named.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/action-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/event-sourced-shoppingcart-unnamed.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/event-sourced-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/replicated-shoppingcart-unnamed.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/replicated-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/value-shoppingcart-unnamed.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/value-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/view-shoppingcart-named.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/view-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/action-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/event-sourced-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/replicated-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/value-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/view-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/generate-from-samples.sh
  codegen/js-gen-cli/src/it/resources/application.conf
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/EntityServiceSourceGenerator.scala
  codegen/js-gen/src/test/scala/io/kalix/codegen/js/EntityServiceSourceGeneratorSuite.scala
  docs/Makefile
  npm-js/create-kalix-entity/README.md
  npm-js/create-kalix-entity/package.json
  npm-js/create-kalix-entity/template/base/README.md
  npm-js/create-kalix-entity/template/base/docker-compose.yml
  npm-js/create-kalix-entity/template/base/lib/kalix.d.ts
  npm-js/create-kalix-entity/template/base/test/testkit.js
  npm-js/kalix-scripts/package.json
  samples/js/js-doc-snippets/user-function.desc
  samples/js/js-eventsourced-shopping-cart/README.md
  samples/js/js-eventsourced-shopping-cart/lib/kalix.d.ts
  samples/js/js-eventsourced-shopping-cart/test/testkit.js
  samples/js/js-replicated-entity-shopping-cart/README.md
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/README.md
  samples/js/js-valueentity-shopping-cart/lib/kalix.d.ts
  samples/js/js-valueentity-shopping-cart/test/testkit.js
  samples/js/valueentity-counter/README.md
  samples/js/valueentity-counter/lib/kalix.d.ts
  samples/ts/ts-customer-registry/README.md
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/README.md
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-eventsourced-shopping-cart/test/testkit.ts
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/README.md
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/README.md
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-counter/test/testkit.ts
  samples/ts/ts-valueentity-shopping-cart/README.md
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/test/testkit.ts
  samples/ts/ts-views-example/package.json
  sdk/package.json
  sdk/test/action-handler.test.ts
  tck/package.json
Labels: Documentation, kalix-proxy, javascript-sdk, typescript-sdk
