Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-03, with the labels that each got.

#246 feat: Support emitting JSON to topics
  docs/src/modules/javascript/partials/topic-eventing.adoc
  samples/js/js-doc-snippets/proto/com/example/json/json_api.proto
  samples/js/js-doc-snippets/src/myservice.js
  sdk/bin/download-protoc.js
  sdk/src/action-support.js
  sdk/test/action-handler-test.js
  sdk/test/example.proto
Labels: Documentation, as-framework, javascript-sdk

#249 chore: update versions in samples
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: as-framework, javascript-sdk, typescript-sdk

#252 chore: update to the latest JS SDK version in the samples
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: as-framework, javascript-sdk, typescript-sdk

#253 feat: allow specifying a custom status when failing
  docs/src/modules/javascript/examples/action/src/action.js
  docs/src/modules/javascript/examples/action/src/action.ts
  docs/src/modules/javascript/examples/test/eventsourced/shoppingcart.js
  docs/src/modules/javascript/examples/test/eventsourced/shoppingcart.ts
  docs/src/modules/javascript/examples/value-entity/src/shoppingcart.js
  docs/src/modules/javascript/examples/value-entity/src/shoppingcart.ts
  samples/ts/ts-valueentity-counter/test/testkit.ts
  sdk/integration-test/integration-testkit-test.js
  sdk/src/action-support.js
  sdk/src/command-helper.js
  sdk/src/context-failure.ts
  sdk/src/reply.ts
  sdk/test/example.proto
  sdk/test/reply.test.ts
Labels: Documentation, as-framework, javascript-sdk, typescript-sdk

#254 feat: helper for setting custom HTTP status code
  sdk/src/metadata.ts
Labels: as-framework, typescript-sdk

#258 fix(docs): document how to perform auto-formatting
  CONTRIBUTING.md
Labels: as-framework

#261 fix(local-proxy): don't perform version check during our CI
  .circleci/config.yml
  sdk/src/integration-testkit.ts
Labels: as-framework, typescript-sdk

#264 Fix windows install path for codegen executable
  npm-js/akkasls-scripts/bin/download-codegen.js
Labels: as-framework

#267 fix: unhandled error on testkit shutdown
  sdk/src/integration-testkit.ts
Labels: as-framework, typescript-sdk

#271 Disable link validation until main docs are published
  .circleci/config.yml
Labels: rename

#272 fix: metadata export and default empty entries
  sdk/index.js
  sdk/src/metadata.jsdoc
  sdk/src/view-support.js
Labels: as-framework, javascript-sdk

#275 kalix proxy m4
  codegen/build.sbt
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/bin/prepare.sh
  sdk/config.json
  tck/bin/tck-protocol.sh
Labels: as-framework, javascript-sdk, typescript-sdk

#278 Some more organization updates
  .circleci/config.yml
  codegen/js-gen-cli/src/it/resources/scripts/setup-entity.sh
  docs/src/modules/javascript/pages/developer-tools.adoc
  docs/src/modules/javascript/pages/kickstart.adoc
  npm-js/create-kalix-entity/README.md
  npm-js/create-kalix-entity/package-lock.json
  npm-js/create-kalix-entity/template/base/package.json
  npm-js/kalix-scripts/package-lock.json
  npm-js/kalix-scripts/package.json
  samples/bin/update.sh
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
Labels: Documentation, as-framework, javascript-sdk, typescript-sdk
