Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-07, with the labels that each got.

#381 docs: add new shopping cart quickstarts
  .circleci/config.yml
  docs/Makefile
  docs/src/modules/javascript/pages/quickstart/cr-value-entity-javascript.adoc
  docs/src/modules/javascript/pages/quickstart/cr-value-entity-typescript.adoc
  docs/src/modules/javascript/pages/quickstart/sc-eventsourced-entity-javascript.adoc
  docs/src/modules/javascript/pages/quickstart/sc-eventsourced-entity-typescript.adoc
  samples/js/js-shopping-cart-quickstart/.bundleignore
  samples/js/js-shopping-cart-quickstart/.dockerignore
  samples/js/js-shopping-cart-quickstart/.gitignore
  samples/js/js-shopping-cart-quickstart/Dockerfile
  samples/js/js-shopping-cart-quickstart/README.md
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/integration-test/shoppingcart.test.js
  samples/js/js-shopping-cart-quickstart/jsconfig.json
  samples/js/js-shopping-cart-quickstart/package.json
  samples/js/js-shopping-cart-quickstart/proto/kalix_policy.proto
  samples/js/js-shopping-cart-quickstart/proto/shopping_cart_api.proto
  samples/js/js-shopping-cart-quickstart/proto/shopping_cart_domain.proto
  samples/js/js-shopping-cart-quickstart/src/index.js
  samples/js/js-shopping-cart-quickstart/src/shoppingcart.js
  samples/js/js-shopping-cart-quickstart/test/shoppingcart.test.js
  samples/ts/ts-shopping-cart-quickstart/.bundleignore
  samples/ts/ts-shopping-cart-quickstart/.dockerignore
  samples/ts/ts-shopping-cart-quickstart/.gitignore
  samples/ts/ts-shopping-cart-quickstart/Dockerfile
  samples/ts/ts-shopping-cart-quickstart/README.md
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/integration-test/shoppingcart.test.ts
  samples/ts/ts-shopping-cart-quickstart/package.json
  samples/ts/ts-shopping-cart-quickstart/proto/kalix_policy.proto
  samples/ts/ts-shopping-cart-quickstart/proto/shopping_cart_api.proto
  samples/ts/ts-shopping-cart-quickstart/proto/shopping_cart_domain.proto
  samples/ts/ts-shopping-cart-quickstart/src/index.ts
  samples/ts/ts-shopping-cart-quickstart/src/shoppingcart.ts
  samples/ts/ts-shopping-cart-quickstart/test/shoppingcart.test.ts
  samples/ts/ts-shopping-cart-quickstart/tsconfig.json
Labels: Documentation, kalix-proxy, javascript-sdk, typescript-sdk

#386 bump: update samples to 1.0.0
  samples/js/js-customer-registry-quickstart/package.json
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-shopping-cart-quickstart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry-quickstart/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-shopping-cart-quickstart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#384 build: use 0.0.0 everywhere for local snapshot versions
  .circleci/config.yml
  npm-js/create-kalix-entity/package-lock.json
  npm-js/create-kalix-entity/package.json
  npm-js/kalix-scripts/package-lock.json
  npm-js/kalix-scripts/package.json
Labels: kalix-proxy

#390 docs: fix links to quickstart from dev process page
  docs/src/modules/developing/pages/development-process-js.adoc
Labels: Documentation, kalix-proxy

#388 bump: kalix-proxy 1.0.12
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#393 fix: add severity to user function error reporting
  sdk/src/kalix.ts
  sdk/test/kalix.test.ts
Labels: kalix-proxy, typescript-sdk
