Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-12, with the labels that each got.

#438 fix: allow updated type dependency for node
  npm-js/create-kalix-entity/template/base-ts/package.json
  samples/ts/ts-customer-registry-quickstart/package.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-shopping-cart-quickstart/package.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, typescript-sdk

#437 chore: Bump proxy to 1.0.28
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#439 bump: kalix-proxy 1.0.29
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#441 bump: Kalix Proxy 1.0.30
  codegen/js-gen-cli/src/it/resources/application.conf
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#443 chore: bump proxy version to 1.0.31
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#444 ci: add script to bump proxy version
  bin/update-proxy-versions.sh
Labels: kalix-proxy
