Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-01, with the labels that each got.

#226 chore: fix version of @types/node to 14.18.3
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
  sdk/package-lock.json
  sdk/package.json
Labels: as-framework, typescript-sdk

#227 feat: placeholder configuration for JWT dev secrets
  npm-js/create-akkasls-entity/template/base/docker-compose.yml
Labels: as-framework

#231 chore: use fix sdk version in ts-valueentity-counter
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
Labels: as-framework, typescript-sdk

#229 chore: upgrade to proxy v0.8.5 (take 2)
  codegen/build.sbt
  npm-js/create-akkasls-entity/template/base/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: as-framework, javascript-sdk, typescript-sdk

#228 chore: update scalafmt + formatting
  codegen/.scalafmt.conf
  codegen/build.sbt
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/DescriptorSet.scala
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/ModelBuilder.scala
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/Packaging.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/DescriptorSetSuite.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ModelBuilderSuite.scala
  codegen/js-gen-cli/src/it/scala/com/lightbend/akkasls/codegen/js/JsCodegenIntegrationSuite.scala
  codegen/js-gen-cli/src/main/scala/com/lightbend/akkasls/codegen/js/Cli.scala
  codegen/js-gen-cli/src/main/scala/io/netty/channel/socket/nio/NioServerSocketChannel.scala
  codegen/js-gen/src/main/scala/com/lightbend/akkasls/codegen/js/ActionServiceSourceGenerator.scala
  codegen/js-gen/src/main/scala/com/lightbend/akkasls/codegen/js/EntityServiceSourceGenerator.scala
  codegen/js-gen/src/main/scala/com/lightbend/akkasls/codegen/js/SourceGenerator.scala
  codegen/js-gen/src/main/scala/com/lightbend/akkasls/codegen/js/ViewServiceSourceGenerator.scala
  codegen/js-gen/src/test/scala/com/lightbend/akkasls/codegen/js/ActionServiceSourceGeneratorSuite.scala
  codegen/js-gen/src/test/scala/com/lightbend/akkasls/codegen/js/EntityServiceSourceGeneratorSuite.scala
  codegen/js-gen/src/test/scala/com/lightbend/akkasls/codegen/js/SourceGeneratorSuite.scala
  codegen/js-gen/src/test/scala/com/lightbend/akkasls/codegen/js/TestData.scala
  codegen/js-gen/src/test/scala/com/lightbend/akkasls/codegen/js/ViewServiceSourceGeneratorSuite.scala
  codegen/project/plugins.sbt
Labels: as-framework, javascript-sdk

#234 chore: upgrade to proxy v0.8.6
  codegen/build.sbt
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-akkasls-entity/template/base/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: as-framework, javascript-sdk, typescript-sdk

#236 chore: suppress warning
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/ModelBuilder.scala
Labels: as-framework

#237 chore: bump proxy to 0.8.7
  codegen/build.sbt
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-akkasls-entity/template/base/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: as-framework, javascript-sdk, typescript-sdk

#239 chore: Upgrade vulnerable dependencies
  sdk/package-lock.json
  sdk/package.json
Labels: as-framework

#238 docs: generated entity keys
  docs/src/modules/javascript/pages/proto.adoc
Labels: Documentation, as-framework
