Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-06, with the labels that each got.

#350 fix: support async command handlers in codegen and testkit
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/EntityServiceSourceGenerator.scala
  codegen/js-gen/src/test/scala/io/kalix/codegen/js/EntityServiceSourceGeneratorSuite.scala
  samples/js/js-eventsourced-shopping-cart/test/shoppingcart.test.js
  samples/js/js-valueentity-shopping-cart/test/shoppingcart.test.js
  samples/js/valueentity-counter/test/counter.test.js
  samples/ts/ts-eventsourced-shopping-cart/test/shoppingcart.test.ts
  samples/ts/ts-valueentity-counter/test/counter.test.ts
  samples/ts/ts-valueentity-shopping-cart/test/shoppingcart.test.ts
  testkit/example/proto/example.proto
  testkit/example/types/event-sourced-entity.d.ts
  testkit/example/types/value-entity.d.ts
  testkit/package-lock.json
  testkit/src/mock-event-sourced-entity.ts
  testkit/src/mock-value-entity.ts
  testkit/test/mock-event-sourced-entity.test.ts
  testkit/test/mock-value-entity.test.ts
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#352 bump: Kalix Proxy 1.0.10
  codegen/build.sbt
  codegen/js-gen-cli/src/it/resources/application.conf
  docs/config/validate-links.json
  docs/src/modules/javascript/pages/developer-tools.adoc
  npm-js/create-kalix-entity/template/base/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
Labels: Documentation, kalix-proxy, javascript-sdk, typescript-sdk

#358 bump: updates for apple silicon
  codegen/build.sbt
  npm-js/kalix-scripts/bin/download-codegen.js
  sdk/bin/download-protoc.js
Labels: kalix-proxy, javascript-sdk

#361 bump: update samples to 1.0.0-M9
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#360 build: fix testkit published version
  testkit/package.json
Labels: kalix-proxy

#355 Acl support
  docs/src/modules/javascript/nav.adoc
  docs/src/modules/javascript/pages/access-control.adoc
  docs/src/modules/javascript/pages/call-another-service.adoc
  samples/js/js-customer-registry/customer_api.proto
  samples/js/js-customer-registry/customer_view.proto
  samples/js/js-customer-registry/kalix_policy.proto
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/proto/com/example/kalix_policy.proto
  samples/js/js-doc-snippets/src/delegatingservice.js
  samples/ts/ts-customer-registry/customer_api.proto
  samples/ts/ts-customer-registry/customer_view.proto
  samples/ts/ts-customer-registry/kalix_policy.proto
  samples/ts/ts-customer-registry/package.json
  sdk/config.json
  sdk/src/action.ts
  sdk/src/event-sourced-entity.ts
  sdk/src/grpc-util.ts
  sdk/src/index.ts
  sdk/src/kalix.ts
  sdk/src/metadata.ts
  sdk/src/replicated-entity.ts
  sdk/src/value-entity.ts
  sdk/src/view.ts
  sdk/test/kalix.test.ts
  sdk/test/metadata.test.ts
  sdk/types/protocol/discovery.ts
  testkit/example/proto/example.proto
  testkit/example/src/action-with-acl.ts
  testkit/example/types/action.d.ts
  testkit/integration-test/integration-testkit.test.ts
  testkit/src/integration-testkit.ts
Labels: Documentation, kalix-proxy, javascript-sdk, typescript-sdk

#364 feat: add 'basic' template for quickstarts
  npm-js/create-kalix-entity/create-kalix-entity.js
  npm-js/create-kalix-entity/template/basic/README.md
Labels: kalix-proxy

#365 fix: support docker build on arm64 in kalix-scripts
  npm-js/kalix-scripts/bin/kalix-scripts.js
Labels: kalix-proxy

#375 chore: remove unnecessary dependencies from templates
  npm-js/create-kalix-entity/template/base-js/package.json
  npm-js/create-kalix-entity/template/base-ts/package.json
Labels: kalix-proxy

#376 chore: reindent jsconfig.json in template
  npm-js/create-kalix-entity/template/base-js/jsconfig.json
  samples/js/js-doc-snippets/jsconfig.json
  samples/js/js-eventsourced-shopping-cart/jsconfig.json
  samples/js/js-valueentity-shopping-cart/jsconfig.json
  samples/js/valueentity-counter/jsconfig.json
Labels: kalix-proxy, javascript-sdk

#374 bump: update node docker image to 14.19
  npm-js/create-kalix-entity/template/base-js/Dockerfile
  npm-js/create-kalix-entity/template/base-ts/Dockerfile
  samples/js/js-doc-snippets/Dockerfile
  samples/js/js-eventsourced-shopping-cart/Dockerfile
  samples/js/js-replicated-entity-shopping-cart/Dockerfile
  samples/js/js-valueentity-shopping-cart/Dockerfile
  samples/js/valueentity-counter/Dockerfile
  samples/ts/ts-eventsourced-shopping-cart/Dockerfile
  samples/ts/ts-replicated-entity-shopping-cart/Dockerfile
  samples/ts/ts-valueentity-counter/Dockerfile
  samples/ts/ts-valueentity-shopping-cart/Dockerfile
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#370 docs: avoid nested tabs, nest note instead
  docs/src/modules/javascript/pages/kickstart.adoc
Labels: Documentation, kalix-proxy

#377 fix: Docker cross build not installed unless explicitly '--load'ed
  npm-js/kalix-scripts/bin/kalix-scripts.js
Labels: kalix-proxy

#373 fix: enable codegen with new annotation
  codegen/core/src/main/scala/io/kalix/codegen/DescriptorSet.scala
  codegen/js-gen-cli/src/main/scala/io/kalix/codegen/js/Cli.scala
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/SourceGenerator.scala
  codegen/js-gen/src/test/scala/io/kalix/codegen/js/SourceGeneratorSuite.scala
Labels: kalix-proxy, javascript-sdk

#372 feat: generate type lookups for events
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/EntityServiceSourceGenerator.scala
  codegen/js-gen/src/test/scala/io/kalix/codegen/js/EntityServiceSourceGeneratorSuite.scala
  codegen/js-gen/src/test/scala/io/kalix/codegen/js/TestData.scala
Labels: kalix-proxy, javascript-sdk

#368 build: update testkit publishing
  .circleci/config.yml
  testkit/package-lock.json
  testkit/package.json
Labels: kalix-proxy

#378 chore: bump samples to new sdk version 1.0.0-M10
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#379 docs: add new quickstart for customer registry in javascript
  .circleci/config.yml
  docs/Makefile
  docs/config/validate-links.json
  docs/dev/src/modules/ROOT/partials/include.adoc
  docs/src/modules/javascript/pages/quickstart/cr-value-entity-javascript.adoc
  samples/js/js-customer-registry-quickstart/.bundleignore
  samples/js/js-customer-registry-quickstart/.dockerignore
  samples/js/js-customer-registry-quickstart/.gitignore
  samples/js/js-customer-registry-quickstart/Dockerfile
  samples/js/js-customer-registry-quickstart/README.md
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-customer-registry-quickstart/integration-test/customer.test.js
  samples/js/js-customer-registry-quickstart/jsconfig.json
  samples/js/js-customer-registry-quickstart/package.json
  samples/js/js-customer-registry-quickstart/proto/customer_api.proto
  samples/js/js-customer-registry-quickstart/proto/customer_domain.proto
  samples/js/js-customer-registry-quickstart/proto/kalix_policy.proto
  samples/js/js-customer-registry-quickstart/src/customer.js
  samples/js/js-customer-registry-quickstart/src/index.js
  samples/js/js-customer-registry-quickstart/test/customer.test.js
Labels: Documentation, kalix-proxy, javascript-sdk

#380 docs: add new quickstart for customer registry in typescript
  .circleci/config.yml
  docs/Makefile
  docs/src/modules/javascript/pages/quickstart/cr-value-entity-typescript.adoc
  samples/ts/ts-customer-registry-quickstart/.bundleignore
  samples/ts/ts-customer-registry-quickstart/.dockerignore
  samples/ts/ts-customer-registry-quickstart/.gitignore
  samples/ts/ts-customer-registry-quickstart/Dockerfile
  samples/ts/ts-customer-registry-quickstart/README.md
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/integration-test/customer.test.ts
  samples/ts/ts-customer-registry-quickstart/package.json
  samples/ts/ts-customer-registry-quickstart/proto/customer_api.proto
  samples/ts/ts-customer-registry-quickstart/proto/customer_domain.proto
  samples/ts/ts-customer-registry-quickstart/proto/kalix_policy.proto
  samples/ts/ts-customer-registry-quickstart/src/customer.ts
  samples/ts/ts-customer-registry-quickstart/src/index.ts
  samples/ts/ts-customer-registry-quickstart/test/customer.test.ts
  samples/ts/ts-customer-registry-quickstart/tsconfig.json
Labels: Documentation, kalix-proxy, typescript-sdk
