Repository lightbend/kalix-javascript-sdk, pull requests merged in 2022-11, with the labels that each got.

#426 chore: bump minimatch version due to vulnerability alert
  sdk/package-lock.json
Labels: kalix-proxy

#425 fix: disable ACL in dev-mode
  docs/src/modules/javascript/pages/access-control.adoc
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
Labels: Documentation, kalix-proxy, javascript-sdk, typescript-sdk

#427 chore: Bump Kalix Proxy 1.0.25
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#429 chore: Bump Kalix Proxy 1.0.26
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  sdk/config.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk

#436 chore: bump samples to 1.0.6
  .circleci/config.yml
  samples/js/js-customer-registry-quickstart/package.json
  samples/js/js-customer-registry/package-lock.json
  samples/js/js-customer-registry/package.json
  samples/js/js-doc-snippets/package-lock.json
  samples/js/js-doc-snippets/package.json
  samples/js/js-eventsourced-shopping-cart/package.json
  samples/js/js-replicated-entity-example/package.json
  samples/js/js-replicated-entity-shopping-cart/package-lock.json
  samples/js/js-replicated-entity-shopping-cart/package.json
  samples/js/js-shopping-cart-quickstart/package.json
  samples/js/js-valueentity-shopping-cart/package.json
  samples/js/js-views-example/package-lock.json
  samples/js/js-views-example/package.json
  samples/js/valueentity-counter/package.json
  samples/ts/ts-customer-registry-quickstart/package.json
  samples/ts/ts-customer-registry/package-lock.json
  samples/ts/ts-customer-registry/package.json
  samples/ts/ts-eventsourced-shopping-cart/package-lock.json
  samples/ts/ts-eventsourced-shopping-cart/package.json
  samples/ts/ts-replicated-entity-example/package-lock.json
  samples/ts/ts-replicated-entity-example/package.json
  samples/ts/ts-replicated-entity-shopping-cart/package-lock.json
  samples/ts/ts-replicated-entity-shopping-cart/package.json
  samples/ts/ts-shopping-cart-quickstart/package.json
  samples/ts/ts-valueentity-counter/package-lock.json
  samples/ts/ts-valueentity-counter/package.json
  samples/ts/ts-valueentity-shopping-cart/package-lock.json
  samples/ts/ts-valueentity-shopping-cart/package.json
  samples/ts/ts-views-example/package-lock.json
  samples/ts/ts-views-example/package.json
Labels: kalix-proxy, javascript-sdk, typescript-sdk
