Repository lightbend/kalix-javascript-sdk, pull requests merged in 2023-02, with the labels that each got.

#450 docs: add grpc common ACL docs to sdk specific page
  docs/dev/src/modules/ROOT/partials/grpc/using-acls.adoc
  docs/src/modules/javascript/pages/access-control.adoc
Labels: Documentation, kalix-proxy

#453 fix: Catch and continue discovery if component.preStart fails
  sdk/src/kalix.ts
Labels: kalix-proxy, typescript-sdk

#452 bump: Eslint 8.3
  .eslintrc.js
  package-lock.json
  package.json
Labels: kalix-proxy

#454 chore: Report ts and js as separate SDKs #389
  docs/Makefile
  sdk/src/kalix.ts
Labels: Documentation, kalix-proxy, typescript-sdk

#432 chore: upgrade scala version to 2.13.10
  codegen/build.sbt
  codegen/project/plugins.sbt
Labels: kalix-proxy

#457 Es-lint errors followup
  .circleci/config.yml
  .eslintrc.js
  sdk/src/action-support.ts
  sdk/src/grpc-util.ts
  sdk/src/jwt-claims.ts
  sdk/src/kalix.ts
  sdk/src/metadata.ts
  sdk/src/protobuf-any.ts
  sdk/src/protobuf-helper.ts
  sdk/src/replicated-data/map.ts
  sdk/test/action-handler.test.ts
Labels: kalix-proxy, typescript-sdk

#458 chore: Skip methods for ignore annotated event handlers #382
  codegen/build.sbt
  codegen/core/src/main/scala/io/kalix/codegen/ModelBuilder.scala
  codegen/core/src/test/scala/io/kalix/codegen/ModelBuilderSuite.scala
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/ActionServiceSourceGenerator.scala
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/EntityServiceSourceGenerator.scala
  codegen/js-gen/src/main/scala/io/kalix/codegen/js/ViewServiceSourceGenerator.scala
  codegen/js-gen/src/test/scala/io/kalix/codegen/js/TestData.scala
  docs/src/modules/javascript/examples/eventing-shopping-cart/proto/product/to_product_popularity.proto
  docs/src/modules/javascript/pages/actions-publishing-subscribing.adoc
Labels: Documentation, kalix-proxy, javascript-sdk
