Repository lightbend/kalix-javascript-sdk, pull requests merged in 2024-01, with the labels that each got.

#533 docs: fix broken links to Setting Up section
  docs/src/modules/developing/pages/development-process-js.adoc
  docs/src/modules/javascript/pages/kickstart.adoc
Labels: Documentation

#534 docs: fix run-on sentence
  docs/src/modules/javascript/pages/index.adoc
Labels: Documentation, kalix-runtime

#535 docs: add use cases as option for exploring Kalix
  docs/src/modules/javascript/pages/index.adoc
Labels: Documentation, kalix-runtime

#536 docs: simplify intro to code generation tools
  docs/src/modules/javascript/pages/index.adoc
Labels: Documentation, kalix-runtime

#538 chore: upgrade Vale to 3.0.5
  .github/workflows/linting.yml
  .vale.ini
  build/license.json
  docs/src/modules/developing/pages/development-process-js.adoc
  docs/src/modules/javascript/pages/eventsourced.adoc
  docs/src/modules/javascript/pages/value-entity.adoc
  samples/js/js-replicated-entity-shopping-cart/README.md
  samples/js/js-valueentity-shopping-cart/README.md
  samples/js/valueentity-counter/README.md
  samples/ts/ts-replicated-entity-shopping-cart/README.md
  samples/ts/ts-valueentity-counter/README.md
  samples/ts/ts-valueentity-shopping-cart/README.md
  styles/Vocab/Base/accept.txt
  styles/config/vocabularies/Base/accept.txt
  styles/config/vocabularies/Base/reject.txt
Labels: Documentation, kalix-runtime, javascript-sdk, typescript-sdk

#539 docs: fix more broken links to Setting Up section
  .github/release-issue-template.md
  docs/src/modules/javascript/pages/kickstart.adoc
  npm-js/create-kalix-entity/template/base-common/README.md
  samples/js/js-customer-registry-quickstart/README.md
  samples/js/js-eventsourced-shopping-cart/README.md
  samples/js/js-replicated-entity-shopping-cart/README.md
  samples/js/js-shopping-cart-quickstart/README.md
  samples/js/js-valueentity-shopping-cart/README.md
  samples/js/valueentity-counter/README.md
  samples/ts/ts-customer-registry-quickstart/README.md
  samples/ts/ts-eventsourced-shopping-cart/README.md
  samples/ts/ts-replicated-entity-shopping-cart/README.md
  samples/ts/ts-shopping-cart-quickstart/README.md
  samples/ts/ts-valueentity-counter/README.md
  samples/ts/ts-valueentity-shopping-cart/README.md
Labels: Documentation, kalix-runtime, javascript-sdk, typescript-sdk

#541 Use USER_SERVICE_ instead of USER_FUNCTION_
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-customer-registry/README.md
  samples/js/js-customer-registry/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-example/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/README.md
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/js-views-example/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-customer-registry/README.md
  samples/ts/ts-customer-registry/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-example/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/README.md
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/README.md
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  samples/ts/ts-views-example/docker-compose.yml
  sdk/bin/prepare.sh
Labels: kalix-runtime, javascript-sdk, typescript-sdk

#542 docs: rename Quickstarts to Samples
  docs/src/modules/javascript/pages/access-control.adoc
  docs/src/modules/javascript/pages/index.adoc
  docs/src/modules/javascript/pages/quickstart/cr-value-entity-javascript.adoc
  docs/src/modules/javascript/pages/quickstart/cr-value-entity-typescript.adoc
  docs/src/modules/javascript/pages/quickstart/sc-eventsourced-entity-javascript.adoc
  docs/src/modules/javascript/pages/quickstart/sc-eventsourced-entity-typescript.adoc
  samples/js/js-customer-registry-quickstart/README.md
  samples/js/js-shopping-cart-quickstart/README.md
  samples/ts/ts-customer-registry-quickstart/README.md
  samples/ts/ts-shopping-cart-quickstart/README.md
Labels: Documentation, kalix-runtime, javascript-sdk, typescript-sdk

#544 Bump: runtime 1.1.30
  codegen/js-gen-cli/src/it/resources/application.conf
  npm-js/create-kalix-entity/template/base-common/docker-compose.yml
  samples/js/js-customer-registry-quickstart/docker-compose.yml
  samples/js/js-customer-registry/docker-compose.yml
  samples/js/js-doc-snippets/docker-compose.yml
  samples/js/js-eventsourced-shopping-cart/docker-compose.yml
  samples/js/js-replicated-entity-example/docker-compose.yml
  samples/js/js-replicated-entity-shopping-cart/docker-compose.yml
  samples/js/js-shopping-cart-quickstart/docker-compose.yml
  samples/js/js-valueentity-shopping-cart/docker-compose.yml
  samples/js/js-views-example/docker-compose.yml
  samples/js/valueentity-counter/docker-compose.yml
  samples/ts/ts-customer-registry-quickstart/docker-compose.yml
  samples/ts/ts-customer-registry/docker-compose.yml
  samples/ts/ts-eventsourced-shopping-cart/docker-compose.yml
  samples/ts/ts-replicated-entity-example/docker-compose.yml
  samples/ts/ts-replicated-entity-shopping-cart/docker-compose.yml
  samples/ts/ts-shopping-cart-quickstart/docker-compose.yml
  samples/ts/ts-valueentity-counter/docker-compose.yml
  samples/ts/ts-valueentity-shopping-cart/docker-compose.yml
  samples/ts/ts-views-example/docker-compose.yml
  sdk/config.json
  testkit/src/integration-testkit.ts
Labels: kalix-runtime, javascript-sdk, typescript-sdk
